In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.linear_model import LinearRegression

from sklearn.ensemble import RandomForestRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

from sklearn.multioutput import MultiOutputRegressor
from sklearn.svm import LinearSVR
from sklearn.metrics import accuracy_score

In [3]:
data = open("C:\\Users\\Cora\\source\\repos\\SmartLifestyle\\workout_dataset2.0-Grid view.csv")
data = pd.read_csv(data)  
print(data)

     Id  Cardio  Weight  Plyo  Laps  Machine  Band  Bar  Body Weight  \
0     1       1       0     1     0        0     1    0            0
1     2       0       1     0     0        0     0    0            1
2     3       1       0     1     1        0     1    0            0
3     4       1       1     0     0        0     1    0            1
4     5       1       1     1     1        0     0    0            1
..  ...     ...     ...   ...   ...      ...   ...  ...          ...
95   96       0       1     0     1        0     0    1            1
96   97       0       0     1     0        1     0    1            0
97   98       1       0     0     0        0     1    0            1
98   99       0       0     1     1        0     0    0            1
99  100       1       0     1     0        0     1    0            1

    Bosu Balll  ...  Back  Core  Full Body  Legs                   Exercise1  \
0            0  ...     0     0          1     0                  Plank Jack
1            0  ...     0     0          1     0  Single Arm Clean and Press
2            1  ...     0     1          1     1   Twisted Mountain Climbers
3            0  ...     1     0          1     1                 Donkey Kick
4            0  ...     0     0          0     1                  Broad Jump
..         ...  ...   ...   ...        ...   ...                         ...
95           0  ...     0     0          0     1       Bulgarian Split Squat
96           0  ...     0     0          1     1                  Bicep Curl
97           0  ...     0     1          0     1                Butt Kickers
98           0  ...     0     0          1     1                  Broad Jump
99           0  ...     0     1          1     1                Butt Kickers

                  Exercise2       Exercise3               Exercise4  \
0               Monkey Jump  Military Plank              Seal Jacks
1               Chest Press           Plank        Tricep Kick-Back
2            Step Up Lunges      Plank Jack               Wall Ball
3              Glute Bridge    Fire Hydrant              Side Lunge
4               Jump Lunges      Tricep Dip        Single Leg Squat
..                      ...             ...                     ...
95           Curtsey Lunges  Shoulder Press           Skull Crusher
96  Jumping Jack Push Press  Step Up Lunges  Literally Just Jumping
97              Jump Lunges      Plank Jack                 Skaters
98  Jumping Jack Push Press      Knee Drive         Squat Jumps 180
99              Jump Lunges  Military Plank              Plank Jack

           Exercise5                Exercise6
0         High Knees  Literally Just Jumping
1   Kettlebell Swing                   Pushup
2      Box Toe Touch        Lateral Band Walk
3           Superman               Plank Jack
4             Pushup               Squat Jump
..               ...                      ...
95        Side Lunge         Single Leg Squat
96    Military Plank               Knee Drive
97        Squat Jump         Weighted Punches
98         Touchdown                Tuck Jump
99           Skaters               Squat Jump

[100 rows x 28 columns]

In [4]:
df_exercise1 = data[["Id", "Exercise1"]]
df_exercise2 = data[["Id", "Exercise2"]]
df_exercise3 = data[["Id", "Exercise3"]]
df_exercise4 = data[["Id", "Exercise4"]]
df_exercise5 = data[["Id", "Exercise5"]]
df_exercise6 = data[["Id", "Exercise6"]]

# Converting String to numeric values

In [5]:
def numExercise(str):
    if str == "Arnold Press" :
        return 1
    elif str == "Bicep Curl":
        return 2
    elif str == "Bicycle Crunch":
        return 3
    elif str == "Bounds":
        return 4
    elif str == "Box Jumps":
        return 5
    elif str == "Box Toe Touch":
        return 6
    elif str == "Broad Jump":
        return 7
    elif str == "Bulgarian Split Squat":
        return 8
    elif str == "Burpee":
        return 9
    elif str == "Burpee Broad Jump":
        return 10
    elif str == "Butt Kickers":
        return 11
    elif str == "Calf Raise":
        return 12
    elif str == "Chest Press":
        return 13
    elif str == "Close to Wide Grip Burnout":
        return 14
    elif str == "Compass Jump":
        return 15
    elif str == "Crab Crawl":
        return 16
    elif str == "Curtsey Lunges":
        return 17
    elif str == "Deficit Squat":
        return 18
    elif str == "Donkey Kick":
        return 19
    elif str == "Fire Hydrant":
        return 20
    elif str == "Flutter Kick":
        return 21
    elif str == "Frogger":
        return 22
    elif str == "Glute Bridge":
        return 23
    elif str == "Glute Bridge March":
        return 24
    elif str == "Goblet Squat":
        return 25
    elif str == "Halo":
        return 26
    elif str == "Heart Pump":
        return 27
    elif str == "High Knees":
        return 28
    elif str == "Jump Lunges":
        return 29
    elif str == "Jump Rope":
        return 30
    elif str == "Jumping Jack Push Press":
        return 31
    elif str == "Jumping Jacks":
        return 32
    elif str == "Kettlebell Swing":
        return 33
    elif str == "Knee Drive":
        return 34
    elif str == "Lateral Band Walk":
        return 35
    elif str == "Leg Pull Apart":
        return 36
    elif str == "Leg Raise":
        return 37
    elif str == "Literally Just Jumping":
        return 38
    elif str == "Lying Leg Raises":
        return 39
    elif str == "Military Plank":
        return 40
    elif str == "Monkey Jump":
        return 41
    elif str == "Mountain Climbers":
        return 42
    elif str == "Plank":
        return 43
    elif str == "Plank Jack":
        return 44
    elif str == "Plank Row":
        return 45
    elif str == "Pushup":
        return 46
    elif str == "Pushup Walk":
        return 47
    elif str == "Reverse Crunches":
        return 48
    elif str == "Row":
        return 49
    elif str == "Russian Twist":
        return 50
    elif str == "Seal Jacks":
        return 51
    elif str == "Shoulder Press":
        return 52
    elif str == "Side Arm / Lateral Raise":
        return 53
    elif str == "Side Lunge":
        return 54
    elif str == "Side Plank":
        return 55
    elif str == "Side Plank Dips":
        return 56
    elif str == "Side Plank with Leg Lift":
        return 57
    elif str == "Single Arm Clean and Press":
        return 58
    elif str == "Single Leg Hip Bridge":
        return 59
    elif str == "Single Leg Squat":
        return 60
    elif str == "Situp and Throw":
        return 61
    elif str == "Skaters":
        return 62
    elif str == "Skipping":
        return 63
    elif str == "Skull Crusher":
        return 64
    elif str == "Spiderman Pushup":
        return 65
    elif str == "Squat":
        return 66
    elif str == "Squat Jump":
        return 67
    elif str == "Squat Jumps 180":
        return 68
    elif str == "Squat to Lateral Leg Lift":
        return 69
    elif str == "Standing Glute Kickbaks":
        return 70
    elif str == "Standing Leg Lift":
        return 71
    elif str == "Standing Oblique Crunch":
        return 72
    elif str == "Star Jump":
        return 73
    elif str == "Step Up Lunges":
        return 74
    elif str == "Step-Back Lunge":
        return 75
    elif str == "Straightup Situp":
        return 76
    elif str == "Sumo Squat":
        return 77
    elif str == "Superman":
        return 78
    elif str == "Touchdown":
        return 79
    elif str == "Tricep Dip":
        return 80
    elif str == "Tricep Kick-Back":
        return 81
    elif str == "Tricep Overhead Press":
        return 82
    elif str == "Tuck Jump":
        return 83
    elif str == "Twisted Mountain Climbers":
        return 84
    elif str == "Wall Ball":
        return 85
    elif str == "Weighted Jumping Jacks":
        return 86
    elif str == "Weighted Punches":
        return 87
    else :
        return 88

In [6]:
df_exercise1["Exercise1"] = df_exercise1["Exercise1"].apply(numExercise)

<ipython-input-6-6606dee9b1ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise1["Exercise1"] = df_exercise1["Exercise1"].apply(numExercise)

In [7]:
df_exercise2["Exercise2"] = df_exercise2["Exercise2"].apply(numExercise)

<ipython-input-7-a7b040e764d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise2["Exercise2"] = df_exercise2["Exercise2"].apply(numExercise)

In [8]:
df_exercise3["Exercise3"] = df_exercise3["Exercise3"].apply(numExercise)

<ipython-input-8-200e0c746033>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise3["Exercise3"] = df_exercise3["Exercise3"].apply(numExercise)

In [9]:
df_exercise4["Exercise4"] = df_exercise4["Exercise4"].apply(numExercise)

<ipython-input-9-003a279019bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise4["Exercise4"] = df_exercise4["Exercise4"].apply(numExercise)

In [10]:
df_exercise5["Exercise5"] = df_exercise5["Exercise5"].apply(numExercise)

<ipython-input-10-1cde26089fcc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise5["Exercise5"] = df_exercise5["Exercise5"].apply(numExercise)

In [11]:
df_exercise6["Exercise6"] = df_exercise6["Exercise6"].apply(numExercise)

<ipython-input-11-f6926cdf3620>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exercise6["Exercise6"] = df_exercise6["Exercise6"].apply(numExercise)

In [12]:
df_merged = df_exercise1.merge(df_exercise2, on='Id', how='inner')

In [13]:
df_merged = df_merged.merge(df_exercise3, on='Id', how='inner')

In [14]:
df_merged = df_merged.merge(df_exercise4, on='Id', how='inner')

In [15]:
df_merged = df_merged.merge(df_exercise5, on='Id', how='inner')

In [16]:
df_merged = df_merged.merge(df_exercise6, on='Id', how='inner')

In [17]:
data.drop(['Exercise1'],axis=1,inplace=True)
data.drop(['Exercise2'],axis=1,inplace=True)
data.drop(['Exercise3'],axis=1,inplace=True)
data.drop(['Exercise4'],axis=1,inplace=True)
data.drop(['Exercise5'],axis=1,inplace=True)
data.drop(['Exercise6'],axis=1,inplace=True)

In [18]:
data

,Id,Cardio,Weight,Plyo,Laps,Machine,Band,Bar,Body Weight,Bosu Balll,...,Landmine,Platform,Squat Rack,Cable,Medicine Ball,Arms,Back,Core,Full Body,Legs
0,1,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,1,0
2,3,1,0,1,1,0,1,0,0,1,...,0,1,1,1,1,0,0,1,1,1
3,4,1,1,0,0,0,1,0,1,0,...,1,0,0,0,0,0,1,0,1,1
4,5,1,1,1,1,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,1,0,1,0,0,1,1,0,...,0,0,0,0,0,1,0,0,0,1
96,97,0,0,1,0,1,0,1,0,0,...,0,1,0,1,1,1,0,0,1,1
97,98,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,1
98,99,0,0,1,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,1
99,100,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1,1,1

In [19]:
df_new = data.merge(df_merged, on='Id', how='inner')

In [20]:
df_new.head()

,Id,Cardio,Weight,Plyo,Laps,Machine,Band,Bar,Body Weight,Bosu Balll,...,Back,Core,Full Body,Legs,Exercise1,Exercise2,Exercise3,Exercise4,Exercise5,Exercise6
0,1,1,0,1,0,0,1,0,0,0,...,0,0,1,0,44,41,40,51,28,88
1,2,0,1,0,0,0,0,0,1,0,...,0,0,1,0,58,13,43,81,33,46
2,3,1,0,1,1,0,1,0,0,1,...,0,1,1,1,84,74,44,85,6,35
3,4,1,1,0,0,0,1,0,1,0,...,1,0,1,1,19,23,20,54,78,44
4,5,1,1,1,1,0,0,0,1,0,...,0,0,0,1,7,29,80,60,46,67

In [21]:
df_new.drop(['Id'],axis=1,inplace=True)

In [22]:
df_new.head()

,Cardio,Weight,Plyo,Laps,Machine,Band,Bar,Body Weight,Bosu Balll,Dumbbells,...,Back,Core,Full Body,Legs,Exercise1,Exercise2,Exercise3,Exercise4,Exercise5,Exercise6
0,1,0,1,0,0,1,0,0,0,0,...,0,0,1,0,44,41,40,51,28,88
1,0,1,0,0,0,0,0,1,0,1,...,0,0,1,0,58,13,43,81,33,46
2,1,0,1,1,0,1,0,0,1,0,...,0,1,1,1,84,74,44,85,6,35
3,1,1,0,0,0,1,0,1,0,1,...,1,0,1,1,19,23,20,54,78,44
4,1,1,1,1,0,0,0,1,0,0,...,0,0,0,1,7,29,80,60,46,67

In [22]:
X = df_new.iloc[:,0:21]
y = df_new.iloc[:,21:]

In [23]:
X.head()

,Cardio,Weight,Plyo,Laps,Machine,Band,Bar,Body Weight,Bosu Balll,Dumbbells,...,Landmine,Platform,Squat Rack,Cable,Medicine Ball,Arms,Back,Core,Full Body,Legs
0,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0,1,...,0,0,0,1,0,1,0,0,1,0
2,1,0,1,1,0,1,0,0,1,0,...,0,1,1,1,1,0,0,1,1,1
3,1,1,0,0,0,1,0,1,0,1,...,1,0,0,0,0,0,1,0,1,1
4,1,1,1,1,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1

In [24]:
y.head()

   Exercise1  Exercise2  Exercise3  Exercise4  Exercise5  Exercise6
0         44         41         40         51         28         88
1         58         13         43         81         33         46
2         84         74         44         85          6         35
3         19         23         20         54         78         44
4          7         29         80         60         46         67

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [88]:
lr = LinearRegression()
lr.fit(X,y)
lr.score(X_test, y_test)

0.3278627346283538

In [90]:
clf = RandomForestRegressor()

clf.fit(X,y)
clf.score(X_test, y_test)

0.861843183157375

In [71]:
kn = KNeighborsRegressor()
# fit model
kn.fit(X, y)
kn.score(X_test, y_test)

0.3029865102741371

In [91]:
# define model
dt = DecisionTreeRegressor()
dt.fit(X, y)
dt.score(X_test, y_test)

0.9946617961830374

In [92]:
y_pred = dt.predict(X_test)

In [93]:
import pickle

pickle.dump(dt, open('C:\\Users\\Cora\\source\\repos\\SmartLifestyle\\models\\final_prediction.pickle', 'wb'))